In [13]:
import pandas as pd
    
import numpy as np
    
import matplotlib.pyplot as plt 
    
import seaborn as sns
    
import scipy.stats as stats
    
import statsmodels.api as sm

%matplotlib inline

In [14]:
gdp_df=pd.read_csv('data/gdp_per_capita.csv')

In [15]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2017  1758.465636              NaN
1     Afghanistan  2016  1757.023490              NaN
2     Afghanistan  2015  1766.593077              NaN
3     Afghanistan  2014  1795.735834              NaN
4     Afghanistan  2013  1807.762344              NaN
5     Afghanistan  2012  1772.764974              NaN
6     Afghanistan  2011  1626.764793              NaN
7     Afghanistan  2010  1671.581238              NaN
8     Afghanistan  2009  1502.354073              NaN
9     Afghanistan  2008  1267.644939              NaN

In [16]:
gdp_df.tail()

,Country or Area,Year,Value,Value Footnotes
6497,Zimbabwe,1992,2591.007534,NaN
6498,Zimbabwe,1991,2906.272849,NaN
6499,Zimbabwe,1990,2819.549467,NaN
6500,footnoteSeqID,Footnote,NaN,NaN
6501,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [20]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [26]:
gdp_df=gdp_df[0:6500]

In [27]:
gdp_df

     Country or Area  Year         Value  Value Footnotes
0        Afghanistan  2017   1758.465636              NaN
1        Afghanistan  2016   1757.023490              NaN
2        Afghanistan  2015   1766.593077              NaN
3        Afghanistan  2014   1795.735834              NaN
4        Afghanistan  2013   1807.762344              NaN
5        Afghanistan  2012   1772.764974              NaN
6        Afghanistan  2011   1626.764793              NaN
7        Afghanistan  2010   1671.581238              NaN
8        Afghanistan  2009   1502.354073              NaN
9        Afghanistan  2008   1267.644939              NaN
10       Afghanistan  2007   1247.753118              NaN
11       Afghanistan  2006   1123.871323              NaN
12       Afghanistan  2005   1099.104568              NaN
13       Afghanistan  2004   1025.208245              NaN
14       Afghanistan  2003   1055.557459              NaN
15       Afghanistan  2002   1016.245409              NaN
16           Albania  2017  11803.283883              NaN
17           Albania  2016  11356.719009              NaN
18           Albania  2015  10971.046329              NaN
19           Albania  2014  10700.522802              NaN
20           Albania  2013  10492.670315              NaN
21           Albania  2012  10369.562385              NaN
22           Albania  2011  10207.753519              NaN
23           Albania  2010   9927.631333              NaN
24           Albania  2009   9525.372374              NaN
25           Albania  2008   9154.714872              NaN
26           Albania  2007   8450.919272              NaN
27           Albania  2006   7914.036824              NaN
28           Albania  2005   7426.116354              NaN
29           Albania  2004   7001.054941              NaN
...              ...   ...           ...              ...
6470          Zambia  1991   2278.802025              NaN
6471          Zambia  1990   2339.137959              NaN
6472        Zimbabwe  2017   2568.410072              NaN
6473        Zimbabwe  2016   2489.097494              NaN
6474        Zimbabwe  2015   2509.008140              NaN
6475        Zimbabwe  2014   2506.490220              NaN
6476        Zimbabwe  2013   2491.635140              NaN
6477        Zimbabwe  2012   2486.847930              NaN
6478        Zimbabwe  2011   2168.110293              NaN
6479        Zimbabwe  2010   1928.017081              NaN
6480        Zimbabwe  2009   1632.999866              NaN
6481        Zimbabwe  2008   1475.140653              NaN
6482        Zimbabwe  2007   1809.791702              NaN
6483        Zimbabwe  2006   1893.936230              NaN
6484        Zimbabwe  2005   1974.645081              NaN
6485        Zimbabwe  2004   2104.143512              NaN
6486        Zimbabwe  2003   2240.903026              NaN
6487        Zimbabwe  2002   2706.031494              NaN
6488        Zimbabwe  2001   2977.768505              NaN
6489        Zimbabwe  2000   2945.993212              NaN
6490        Zimbabwe  1999   3054.064189              NaN
6491        Zimbabwe  1998   3099.076182              NaN
6492        Zimbabwe  1997   3036.422224              NaN
6493        Zimbabwe  1996   2985.856605              NaN
6494        Zimbabwe  1995   2736.486436              NaN
6495        Zimbabwe  1994   2768.309953              NaN
6496        Zimbabwe  1993   2572.870395              NaN
6497        Zimbabwe  1992   2591.007534              NaN
6498        Zimbabwe  1991   2906.272849              NaN
6499        Zimbabwe  1990   2819.549467              NaN

[6500 rows x 4 columns]

In [28]:
gdp_df.shape

(6500, 4)

In [33]:
gdp_df(drop.columns['Value Footnotes'])

NameError: name 'drop' is not defined