## Steps 1 - 5

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm

%matplotlib inline

## Step 6

In [2]:
gdp_df=pd.read_csv('data/gdp_per_capita.csv')

In [3]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2017  1758.465636              NaN
1     Afghanistan  2016  1757.023490              NaN
2     Afghanistan  2015  1766.593077              NaN
3     Afghanistan  2014  1795.735834              NaN
4     Afghanistan  2013  1807.762344              NaN
5     Afghanistan  2012  1772.764974              NaN
6     Afghanistan  2011  1626.764793              NaN
7     Afghanistan  2010  1671.581238              NaN
8     Afghanistan  2009  1502.354073              NaN
9     Afghanistan  2008  1267.644939              NaN

In [4]:
gdp_df.tail()

,Country or Area,Year,Value,Value Footnotes
6497,Zimbabwe,1992,2591.007534,NaN
6498,Zimbabwe,1991,2906.272849,NaN
6499,Zimbabwe,1990,2819.549467,NaN
6500,footnoteSeqID,Footnote,NaN,NaN
6501,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [5]:
gdp_df=gdp_df[0:6500]
#could've used skipfooter

In [6]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
6495        Zimbabwe  1994  2768.309953              NaN
6496        Zimbabwe  1993  2572.870395              NaN
6497        Zimbabwe  1992  2591.007534              NaN
6498        Zimbabwe  1991  2906.272849              NaN
6499        Zimbabwe  1990  2819.549467              NaN

## Step 7

In [7]:
gdp_df.shape

(6500, 4)

In [8]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 4 columns):
Country or Area    6500 non-null object
Year               6500 non-null object
Value              6500 non-null float64
Value Footnotes    1 non-null float64
dtypes: float64(2), object(2)
memory usage: 203.2+ KB

## Step 8

In [9]:
gdp_df=gdp_df.drop(columns={'Value Footnotes'})
gdp_df=gdp_df.rename(columns={'Country or Area':'Country','Value':'GDP_Per_Capita'})

In [10]:
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2017     1758.465636
1  Afghanistan  2016     1757.023490
2  Afghanistan  2015     1766.593077
3  Afghanistan  2014     1795.735834
4  Afghanistan  2013     1807.762344

## Step 9(a)

In [11]:
continents_df=pd.read_csv('data/continents.csv')

In [12]:
#To be changed in gdp_df
#* Change "CÃ´te d'Ivoire" to "Ivory Coast"
#* Change "CuraÃ§ao" to "Curaçao"
#* Change "SÃ£o TomÃ© and Principe" to "Sao Tome and Principe"
#* Change "Sint Maarten (Dutch part)" to "Sint Maarten"

In [13]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 3 columns):
Country           6500 non-null object
Year              6500 non-null object
GDP_Per_Capita    6500 non-null float64
dtypes: float64(1), object(2)
memory usage: 152.4+ KB

In [14]:
gdp_df = gdp_df.replace({
    "CÃ´te d'Ivoire": 'Ivory Coast', 
    'CuraÃ§ao': 'Curaçao', 
    'SÃ£o TomÃ© and Principe':'Sao Tome and Principe',
    'Sint Maarten (Dutch part)':' "Sint Maarten'
})

In [15]:
gdp_df[gdp_df.Country=='Ivory Coast']

         Country  Year  GDP_Per_Capita
792  Ivory Coast  2017     3564.595846
793  Ivory Coast  2016     3395.088932
794  Ivory Coast  2015     3225.188859
795  Ivory Coast  2014     3038.844827
796  Ivory Coast  2013     2864.048627
797  Ivory Coast  2012     2696.191639
798  Ivory Coast  2011     2495.495125
799  Ivory Coast  2010     2673.013083
800  Ivory Coast  2009     2682.036638
801  Ivory Coast  2008     2657.672981
802  Ivory Coast  2007     2650.485963
803  Ivory Coast  2006     2662.330254
804  Ivory Coast  2005     2679.787386
805  Ivory Coast  2004     2690.738762
806  Ivory Coast  2003     2714.011379
807  Ivory Coast  2002     2810.189031
808  Ivory Coast  2001     2922.033952
809  Ivory Coast  2000     2989.146720
810  Ivory Coast  1999     3132.638498
811  Ivory Coast  1998     3170.407545
812  Ivory Coast  1997     3113.038123
813  Ivory Coast  1996     3095.960786
814  Ivory Coast  1995     2968.016191
815  Ivory Coast  1994     2864.251321
816  Ivory Coast  1993     2940.491802
817  Ivory Coast  1992     3051.758908
818  Ivory Coast  1991     3170.602503
819  Ivory Coast  1990     3285.588941

## Step 9(b)

In [16]:
gdp_df= pd.merge(continents_df, gdp_df, how='inner')

In [17]:
gdp_df

     Continent      Country  Year  GDP_Per_Capita
0         Asia  Afghanistan  2017     1758.465636
1         Asia  Afghanistan  2016     1757.023490
2         Asia  Afghanistan  2015     1766.593077
3         Asia  Afghanistan  2014     1795.735834
4         Asia  Afghanistan  2013     1807.762344
5         Asia  Afghanistan  2012     1772.764974
6         Asia  Afghanistan  2011     1626.764793
7         Asia  Afghanistan  2010     1671.581238
8         Asia  Afghanistan  2009     1502.354073
9         Asia  Afghanistan  2008     1267.644939
10        Asia  Afghanistan  2007     1247.753118
11        Asia  Afghanistan  2006     1123.871323
12        Asia  Afghanistan  2005     1099.104568
13        Asia  Afghanistan  2004     1025.208245
14        Asia  Afghanistan  2003     1055.557459
15        Asia  Afghanistan  2002     1016.245409
16      Europe      Albania  2017    11803.283883
17      Europe      Albania  2016    11356.719009
18      Europe      Albania  2015    10971.046329
19      Europe      Albania  2014    10700.522802
20      Europe      Albania  2013    10492.670315
21      Europe      Albania  2012    10369.562385
22      Europe      Albania  2011    10207.753519
23      Europe      Albania  2010     9927.631333
24      Europe      Albania  2009     9525.372374
25      Europe      Albania  2008     9154.714872
26      Europe      Albania  2007     8450.919272
27      Europe      Albania  2006     7914.036824
28      Europe      Albania  2005     7426.116354
29      Europe      Albania  2004     7001.054941
...        ...          ...   ...             ...
5187    Africa       Zambia  1991     2278.802025
5188    Africa       Zambia  1990     2339.137959
5189    Africa     Zimbabwe  2017     2568.410072
5190    Africa     Zimbabwe  2016     2489.097494
5191    Africa     Zimbabwe  2015     2509.008140
5192    Africa     Zimbabwe  2014     2506.490220
5193    Africa     Zimbabwe  2013     2491.635140
5194    Africa     Zimbabwe  2012     2486.847930
5195    Africa     Zimbabwe  2011     2168.110293
5196    Africa     Zimbabwe  2010     1928.017081
5197    Africa     Zimbabwe  2009     1632.999866
5198    Africa     Zimbabwe  2008     1475.140653
5199    Africa     Zimbabwe  2007     1809.791702
5200    Africa     Zimbabwe  2006     1893.936230
5201    Africa     Zimbabwe  2005     1974.645081
5202    Africa     Zimbabwe  2004     2104.143512
5203    Africa     Zimbabwe  2003     2240.903026
5204    Africa     Zimbabwe  2002     2706.031494
5205    Africa     Zimbabwe  2001     2977.768505
5206    Africa     Zimbabwe  2000     2945.993212
5207    Africa     Zimbabwe  1999     3054.064189
5208    Africa     Zimbabwe  1998     3099.076182
5209    Africa     Zimbabwe  1997     3036.422224
5210    Africa     Zimbabwe  1996     2985.856605
5211    Africa     Zimbabwe  1995     2736.486436
5212    Africa     Zimbabwe  1994     2768.309953
5213    Africa     Zimbabwe  1993     2572.870395
5214    Africa     Zimbabwe  1992     2591.007534
5215    Africa     Zimbabwe  1991     2906.272849
5216    Africa     Zimbabwe  1990     2819.549467

[5217 rows x 4 columns]

## Step 10

In [18]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5217 entries, 0 to 5216
Data columns (total 4 columns):
Continent         5217 non-null object
Country           5217 non-null object
Year              5217 non-null object
GDP_Per_Capita    5217 non-null float64
dtypes: float64(1), object(3)
memory usage: 203.8+ KB

In [19]:
%%time

gdp_df.groupby('Continent').GDP_Per_Capita.mean()

CPU times: user 3.17 ms, sys: 322 µs, total: 3.49 ms
Wall time: 3.73 ms

Continent
Africa            4588.289835
Asia             21174.893215
Europe           26497.245133
North America    19068.562312
Oceania           8818.318792
South America    10989.950644
Name: GDP_Per_Capita, dtype: float64

In [20]:
gdp_df['Continent'] = gdp_df['Continent'].astype('category')

In [21]:
gdp_df

     Continent      Country  Year  GDP_Per_Capita
0         Asia  Afghanistan  2017     1758.465636
1         Asia  Afghanistan  2016     1757.023490
2         Asia  Afghanistan  2015     1766.593077
3         Asia  Afghanistan  2014     1795.735834
4         Asia  Afghanistan  2013     1807.762344
5         Asia  Afghanistan  2012     1772.764974
6         Asia  Afghanistan  2011     1626.764793
7         Asia  Afghanistan  2010     1671.581238
8         Asia  Afghanistan  2009     1502.354073
9         Asia  Afghanistan  2008     1267.644939
10        Asia  Afghanistan  2007     1247.753118
11        Asia  Afghanistan  2006     1123.871323
12        Asia  Afghanistan  2005     1099.104568
13        Asia  Afghanistan  2004     1025.208245
14        Asia  Afghanistan  2003     1055.557459
15        Asia  Afghanistan  2002     1016.245409
16      Europe      Albania  2017    11803.283883
17      Europe      Albania  2016    11356.719009
18      Europe      Albania  2015    10971.046329
19      Europe      Albania  2014    10700.522802
20      Europe      Albania  2013    10492.670315
21      Europe      Albania  2012    10369.562385
22      Europe      Albania  2011    10207.753519
23      Europe      Albania  2010     9927.631333
24      Europe      Albania  2009     9525.372374
25      Europe      Albania  2008     9154.714872
26      Europe      Albania  2007     8450.919272
27      Europe      Albania  2006     7914.036824
28      Europe      Albania  2005     7426.116354
29      Europe      Albania  2004     7001.054941
...        ...          ...   ...             ...
5187    Africa       Zambia  1991     2278.802025
5188    Africa       Zambia  1990     2339.137959
5189    Africa     Zimbabwe  2017     2568.410072
5190    Africa     Zimbabwe  2016     2489.097494
5191    Africa     Zimbabwe  2015     2509.008140
5192    Africa     Zimbabwe  2014     2506.490220
5193    Africa     Zimbabwe  2013     2491.635140
5194    Africa     Zimbabwe  2012     2486.847930
5195    Africa     Zimbabwe  2011     2168.110293
5196    Africa     Zimbabwe  2010     1928.017081
5197    Africa     Zimbabwe  2009     1632.999866
5198    Africa     Zimbabwe  2008     1475.140653
5199    Africa     Zimbabwe  2007     1809.791702
5200    Africa     Zimbabwe  2006     1893.936230
5201    Africa     Zimbabwe  2005     1974.645081
5202    Africa     Zimbabwe  2004     2104.143512
5203    Africa     Zimbabwe  2003     2240.903026
5204    Africa     Zimbabwe  2002     2706.031494
5205    Africa     Zimbabwe  2001     2977.768505
5206    Africa     Zimbabwe  2000     2945.993212
5207    Africa     Zimbabwe  1999     3054.064189
5208    Africa     Zimbabwe  1998     3099.076182
5209    Africa     Zimbabwe  1997     3036.422224
5210    Africa     Zimbabwe  1996     2985.856605
5211    Africa     Zimbabwe  1995     2736.486436
5212    Africa     Zimbabwe  1994     2768.309953
5213    Africa     Zimbabwe  1993     2572.870395
5214    Africa     Zimbabwe  1992     2591.007534
5215    Africa     Zimbabwe  1991     2906.272849
5216    Africa     Zimbabwe  1990     2819.549467

[5217 rows x 4 columns]

In [22]:
%%time

gdp_df.groupby('Continent').GDP_Per_Capita.mean()

CPU times: user 2.08 ms, sys: 1.31 ms, total: 3.39 ms
Wall time: 5.64 ms

Continent
Africa            4588.289835
Asia             21174.893215
Europe           26497.245133
North America    19068.562312
Oceania           8818.318792
South America    10989.950644
Name: GDP_Per_Capita, dtype: float64